* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

@keyframes tab-appears {
    0% {
        opacity: 0;
        tansform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY();
    }
}