.hero {
    position: relative;
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 0;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 639px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

}

#logo-hero {
    z-index: 1;
    width: 247px;
    height: 108px;
}

.hero {

    .hero-left {
        z-index: 1;
        width: 645px;
    }

    h3 {
        color: white;
        font-size: 36px;
        font-weight: 800;
    }
    p {
        color: white;
        font-size: 16px;
    }
    button {
        width: 135px;
        height: 42px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-size: 14px;
        font-weight: 500;
        padding: 12px;
    }
}
