.hero {
    position: relative;
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 0;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 639px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

}

#logo-hero {
    z-index: 1;
    width: 247px;
    height: 108px;
    margin-bottom: 24px;
}

.hero {

    .hero-left {
        z-index: 1;
        width: 645px;
    }

    h3 {
        color: white;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 21px;
        width: 426px;
    }

    hr {
        margin-bottom: 21px;
        height: 2px;
        background-color: white;
        border-width: 0;
        width: 84px;
    }

    p {
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 21px;
    }
    #hero-download {
        width: 135px;
        height: 42px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 12px;
        transition: 0.25s ease-in-out;

        &:hover {
            cursor: pointer;
            border: 2px solid #e27866;
            background-color: #1c1c1c;
            color: #e27866;
        }
    }
}

.hero {
    height: 639px;
    .hero-form {
        z-index: 1;
        max-width: 360px;
        height: 425px;
        background-color: #FFFFFF;
        border-radius: 5px;
        position: relative;
        

        .form-header {
            border-radius: 5px;
            height: 57px;
            background-color: #F5F5F5;
            display: flex;
            align-items: end;
            top: 18px;
            bottom: 18px;
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 28px;
        }

        p {
            font-size: 20px;
            display: inline;
            color: #333333;
            font-weight: bold;

        }
        .form-checkboxes {
            display: inline-block;
            margin-bottom: 32px;
        }
        
        ::placeholder {
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            color: #D8D8D8;
        }
        
        input[type="text" i]  {
            border: none;  
            border-bottom: 1px solid #D8D8D8;
            margin-bottom: 20px;   
            outline: none;
        }
    } 
}

.form-container {
    display: grid;
    z-index: 1;
    max-width: 260px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;

    p {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }
}

#form-button {
    width: 100%;
    height: 57px;
    background-color: #41D395;
    border: none;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s linear;

    &:hover {
    // cursor: pointer;
    // color: #41d395;
    // background-color: #fff;
    // border: 3px solid #41d395;
    // border-radius: 5px;

    cursor: pointer;
    border: 1px solid #e27866;
    background-color: #1c1c1c;
    color: #e27866;
    border-radius: 0;
    }
}

.hero-container {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

// reikia pabaigti daryti checkboxus. Turi leisti pasirinkti tik viena + atitinkamai dizainas

// input[type="radio"] {
//     vertical-align: middle;
//     display: none;

//     &:hover {
//         cursor: pointer;
//     }
// }

// .radio-container {
//     display: inline;
//     margin-right: 10px;

//     &:hover {
//         cursor: pointer;
//     }

//     input:checked ~ label:before {
//         background: red;
//     }

//      &:before {
//             content: '';
//             display: inline-block;
//             width: 13px;
//             height: 13px;
//             border-radius: 50%;
//             border: 1px solid #41D395;
//             transition: 0.3s ease-in-out;
//     }

//     input:checked ~ label:before {
//         background: #41D395;

//         &:before {
//             content: '';
//             display: inline-block;
//             width: 13px;
//             height: 13px;
//             border-radius: 50%;
//             border: 1px solid #41D395;
//             transition: 0.3s;
//     }

// }
// }
.radio-wrap {

    input {
        display: none;
    }

    input:checked ~ label:before {
        background: #41D395;;
    }

    label {
        text-transform: uppercase;
        cursor: pointer;

        &:before {
            content: '';
            display: inline-block;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 1px solid #41D395;
            transition: 0.3s ease-in-out;
        }
    }
}