.hero {
    position: relative;
    margin-top: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 0;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 639px;

    .hero-container {
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1C1C1C;
        opacity: 0.63;
    }

}

#logo-hero {
    z-index: 1;
    width: 247px;
    height: 108px;
    margin-bottom: 24px;
}

.hero {

    .hero-left {
        z-index: 1;
        width: 645px;
        margin-right: 91px;
    }

    h3 {
        color: white;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 21px;
        width: 426px;
    }

    hr {
        margin-bottom: 21px;
        height: 2px;
        background-color: white;
        border-width: 0;
        width: 84px;
    }

    p {
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 21px;
    }
    #hero-download {
        width: 135px;
        height: 42px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-size: 14px;
        font-weight: bold;
        padding: 12px;
        transition: 0.25s ease-in-out;

        &:hover {
            cursor: pointer;
            border: 2px solid #e27866;
            background-color: #1c1c1c;
            color: #e27866;
        }
    }
}

.hero {
    height: 639px;

    .hero-form {
        height: 425px;
        background-color: #FFFFFF;
        border-radius: 5px;
        position: relative;

        .form-header {
            border-radius: 5px;
            height: 57px;
            background-color: #F5F5F5;
            display: flex;
            justify-content: center;
            align-items: self-end;
        }

        .form-container {
            display: flex;
            flex-direction: column;
        
            ::placeholder {
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
                color: #D8D8D8;
            }
            
            input[type="text" i]  {
                border: none;  
                border-bottom: 1px solid #D8D8D8;
                margin-bottom: 20px;   
                outline: none;
            }

            p {
                font-size: 16px;
                font-weight: bold;
                color: black;
                margin-bottom: 20px;
            }
        }

        .form-checkboxes {
            display: inline-block;
        
        .radio-wrap {
            display: flex;
            font-size: 10px;
            font-weight: bold;

            .radio-input-wrap {
                margin-right: 17px;
            }

            input {
                display: none;
                margin-right: 5px;
                
            }

            input:checked ~ label:before {
                background: #41D395;
            }

            label {
                text-transform: uppercase;
                cursor: pointer;
                margin-right: 5px;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    border: 1px solid #41D395;
                    transition: 0.3s ease-in-out;
                    margin-right: 5px;
                }

            }
        }
    }


        #form-button {
            width: 100%;
            height: 57px;
            background-color: #41D395;
            border: none;
            position: absolute;
            bottom: 0;
            border-radius: 0 0 5px 5px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.3s linear;
        
            &:hover {
            cursor: pointer;
            border: 1px solid #e27866;
            background-color: #1c1c1c;
            color: #e27866;
            border-radius: 0 0 5px;
            }
        }
        

        

        // p {
        //     font-size: 20px;
        //     display: inline;
        //     color: #333333;
        //     font-weight: bold;

        // }

        

    } 
}







