.pricing-section {
    background-color: #6696E2;
    padding-bottom: 108px;
    

    .pricing-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-transform: uppercase;
            font-size: 36px;
            color: #FFFFFF;
            margin-bottom: 21px;
            margin-top: 97px;
        }

        hr {
            background: #41D395;
            border-width: 0;
            height: 2px;
            width: 64px;
            margin-top: 21px;
            margin-bottom: 27px;
        }

        p {
            font-size: 14px;
            color: #FFFFFF;
            margin-bottom: 83px;
        }
    }


    .price-cards {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .price-options {
        width: 343px;
        transition: 0.3s ease-in-out;
        
        &:hover {
            transform: translateY(-10px);
            cursor: pointer;
            box-shadow: 10px 10px 15px #00000029;
        }

        .price-basic {
            

            .price-type {
                background-color: #1C1C1C;
                text-align: center;
                border-radius: 5px 5px 0 0;

                p {
                    color: #FFFFFF;
                    opacity: 50%;
                    font-size: 14px;
                    padding-top: 14px;
                    padding-bottom: 19px;
                } 

                h3 {
                    font-size: 20px;
                    padding-top: 14px;
                    // margin-bottom: 21px;
                    color: #FFFFFF;
                }

                h1 {
                    font-size: 94px;
                    color: #FFFFFF;
                    padding-top: 51px;

                    &::before {
                        content: "$";
                        font-size: 35px;
                }
            }        
            }
            .price-popularity {
                min-height: 6px;
                background-color: #41D395;

                p {
                    text-transform: uppercase;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: #FFFFFF;
                    font-size: 14px;

                }
            }

            .price-description {
                background-color: #FFFFFF;
                border-radius: 0 0 5px 5px;

                p {
                    text-transform: uppercase;
                    padding-top: 11px;
                    padding-bottom: 11px;
                    text-align: center;
                    font-size: 14px;
                }
            }


        }
    }
}